section {
    background-color: white;
}

section.order {
    padding: 10px;
}

section.order > h5 {
    color: #4C4C4C;
    font-weight: 400;
}

.name-field {
    font-size: 2rem
}

.name-field input {
    font-size: 2rem
}

.name-field label {
    font-size: 2rem
}
